[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "==1.26.4"
matplotlib = "==3.10.3"
keras = "==3.3.2"
tensorflow = "==2.17.0"
arcade = "==2.6.17"
numba = "==0.59.1"

[dev-packages]

[requires]
python_version = "3.11"
